<!DOCTYPE html>
<html lang="de">
<head>
  <title>Andor Pirntke | {{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  {% if description -%}
  <meta name="description" content="{{ description }}"/>
  {%- endif %}
  {% if keywords -%}
  <meta name="keywords" content="{{ keywords }}"/>
  {% endif %}
  <meta name="robots" content="{{ robots }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ thumbnail }}">
  <link rel="stylesheet" type="text/css" href="/base.css"/>
  <link rel="icon" href="/_assets/favicon.ico" type="image/x-icon" />
</head>
<body>
  <header>
    <nav class="center">
      {% for item in navigation.items %}
        <a tabindex="102" href="{{ item.url }}">{{ item.text }}</a>
      {% endfor %}
    </nav>
  </header>
  <main class="{{ layout }} {{ title|slug }}">
    <div class="center">
      <aside class="address">
        <p class="chef">
          <small class="org">Kaufmann</small>
          <h1 class="fn">Andor Pirntke</h1>
        </p>
        <p>
          <a class="email" href="mailto:mail@andor-pirntke.de">mail@<br>andor-pirntke.de</a><br>
          <a class="tel" href="+49015110658761">0151-10 65 87 61</a>
        </p>
        <a class="adr" href="https://goo.gl/maps/JESntGeeLzUoTZ7n9" title="Google" target="_blank" rel="nofollow">
          <span class="street-address">Lagerstrasse 1</span><br>
          <span class="postal-code">15345</span>
          <span class="locality">Rehfelde Dorf</span>
        </a>
      </aside>
      <article>
        {{ content | safe }}
        {% block cloudinary %}{% endblock %}
      </article>
    </div>
  </main>
  {% block footer %}
  <footer>
    <div class="center">
      <aside>
        <small>Inhaber der Seite</small>
        <p>
          {% for adr in imprint.address %}
            {{ adr.name }}<br/>
            {{ adr.streetAddress }}<br/>
            {{ adr.postalCode }}
            {{ adr.locality }}
          {% endfor %}
        </p>
        <p>
          {{ imprint.mail }}
        </p>
        <br>
        <p>
          <small>Gerichtsstand</small>
          {{ imprint.court }}
        </p>
        <p>
          <small>Ust-IdNr</small>
          {{ imprint.vat }}
        </p>
      </aside>
      <article>
        {% for article in imprint.articles %}
          <small>{{ article.title }}</small>
          <p>{{ article.text }}</p>
        {% endfor %}
      </article>
    </footer>
  </div>
  {% endblock %}
  {% block scripts %}
  <script type="text/javascript" src="/animate.js" defer></script>
  {% endblock %}
</body>
</html>
