{% set title = folder.name %}
{% extends "base.njk" %}
{% block title %}
  <small><a href="/{{ media | slug }}/">{{ media }}</a></small>
{% endblock %}
{% block media %}
<section>
  {%- for image in folder.images -%}
  <div class="card">
  {%- if image.folder == folder.path %}
  {% set original = "https://res.cloudinary.com/andor-pirntke-de/image/upload/v1657801161/" + image.public_id + "." + image.format %}
  {% thumb image.secure_url, original %}
  {%- endif -%}
  </div>
  {%- endfor -%}
</section>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/base.js" defer></script>
{% endblock %}
