:root {
  --image-width: 320px;
  --max-gallery-width: calc((var(--image-width) * 5) - (6 * var(--space-small)));
  --space-small: .5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --border-radius: .5rem;
  --border-radius-small: .25rem;
  --color-primary: #A12026;
  --color-background: #fff;
  --color-primary-800: #691719;
  --color-neutral-400: #CCC;
  --color-neutral-900: #000;
  --font-size-small: .5rem;
  --font-size-medium: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-neutral-900);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-primary-800);
}

hr {
  background: var(--color-neutral-900);
  border: 0;
  height: 1px;
  margin: 0;
}

small {
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--font-size-small);
  letter-spacing: .1em;
  margin-bottom: var(--space-medium);
  display: block;
}

html {
  font-size: 100%;
  font-family: monospace;
  padding: 0;
}

h1 {
  margin: 0 0 var(--space-large);
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-neutral-900);
  font-size: var(--font-size-medium);
}

header {
  padding: 0 var(--space-medium);
  background: var(--color-primary);
}

header nav {
  padding: var(--space-medium) 0;
}

header nav a {
  color: var(--color-background);
  text-decoration: none;
  padding: 0 var(--space-medium);
}

main article {
  padding: var(--space-large);
}

main figure {
  position: relative;
  display: block;
  margin: 0;
  overflow: hidden;
  background: var(--color-primary-800);
}

main figure img {
  height: 480px;
  vertical-align: bottom;
  margin-left: 100%;
}
main figure.intersected img {
  margin-left: 0;
  transition: all ease-in-out 1000ms;
}

main figure figcaption {
  color: var(--color-background);
}

main section {
  gap: var(--space-medium) var(--space-medium);
  display: grid;
}

main.base {
  background: var(--color-primary-800);
}
main.base.fahrzeuge,
main.base-folder {
  background: var(--color-background);
}

aside {
  display: block;
  padding: var(--space-large);
  white-space: nowrap;
  background: var(--color-background);
}

p {
  margin-bottom: var(--space-medium);
  display: block;
}

footer article {
  padding: var(--space-large);
  color: var(--color-neutral-400);
}
footer aside {
  background: var(--color-neutral-400);
}

.card {
  text-decoration: none;
  padding: 1rem;
  background: var(--color-neutral-400);
  border-radius: var(--border-radius);
  text-align: center;
  box-shadow: inset 0px -3px 1px #BBB;
}
.card:hover {
  box-shadow: 2px 2px 0 var(--color-primary), -2px -2px 0 var(--color-primary), 2px -2px 0 var(--color-primary), -2px 2px 0 var(--color-primary);
}

.card .title {
  white-space: nowrap;
  display: block;
  padding: var(--space-small);
  text-shadow: 1px 1px 1px #FFF;
}

.card picture {
  box-shadow: inset 2px 2px 0px #000;
  border: 1px solid #000;

  display: block;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  cursor: pointer;
}

.card picture img {
  width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
}

.center {
  max-width: var(--max-gallery-width);
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 640px) {
  .center {
    display: flex;
  }
  main section {
    grid-template-columns: 1fr 1fr;
  }
  aside {
    min-width: var(--image-width);
  }
}

@media screen and (min-width: 960px) {
  main section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  main section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  main section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  .row-2 {
    grid-template-columns: 1fr 1fr;
  }
}
