
:root {
  --image-width: 320px;
  --max-gallery-width: calc((var(--image-width) * 5) - (6 * var(--space-small)));
  --space-small: .5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --border-radius: .5rem;
  --color-primary: #A12026;
  --color-background: #fff;
  --color-primary-800: #691719;
  --color-neutral-900: #000;
  --font-size-small: .5rem;
  --font-size-medium: 1rem;
}

html {
  font-size: 100%;
  font-family: monospace;
  padding: 0;
}
h1 {
  margin: 0 0 var(--space-large);
}
body {
  margin: 0;
  padding: 0;
  background: var(--color-primary);
  font-size: var(--font-size-medium);
}
header {
  /* background: var(--color-background); */
  border-bottom: 1px solid var(--color-neutral-900);
}
hr {
  background: var(--color-neutral-900);
  border: 0;
  height: 1px;
  margin: 0;
}
small {
  text-transform: uppercase;
  font-weight: 800;
  font-size: var(--font-size-small);

}

nav {
  padding: var(--space-large);
}
nav a {
  color: var(--color-background);
  text-decoration: none;
}
.thumb {
  display: block;
  margin: var(--space-small);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.row {
  display: flex;
}
.address {
  display: inline-block;
  padding: var(--space-large);
  white-space: nowrap;
  min-width: 320px;
  background: var(--color-background);
  border-radius: var(--border-radius);
}
.willkommen {
  background: var(--color-primary-800);
}
.willkommen .center {
  display: flex;
}

footer .center {
  display: flex;
}
main.fahrzeuge {
  background: var(--color-background);
}
footer {
  padding: var(--space-large) 0;
}
footer .disclaimer {
  padding: var(--space-large);
}
main {
  padding: var(--space-large) 0;

}
main figure {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  background: var(--color-primary-800);
}
main figure img {
  height: 480px;
  padding: var(--space-large) var(--space-large) 0 var(--space-large);

}
main figure figcaption {
  padding: var(--space-large) var(--space-large) 0 var(--space-large);
  color: var(--color-background);
}
.card {
  text-decoration: none;
}
.card .title {
  white-space: nowrap;
  display: block;
  padding: var(--space-small);
}
.thumb {
  cursor: pointer;
}
.thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.center {
  max-width: var(--max-gallery-width);
  margin: 0 auto;
  width: 100%;
}
.container {
  max-width: var(--max-gallery-width);
  margin: auto;
  width: 100%;
  gap: var(--space-medium) var(--space-medium);
  display: grid;
}

.base-folder {
  background: var(--color-background);
}

@media screen and (min-width: 640px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
