@charset "UTF-8"; /* CSS Document */

* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
	font-size: 16px;
  line-height: 20px;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	display: inline-block;
	border: 0;
	outline: 0;
  color: #000;
}
a img {
	border: 0;
	outline: 0;
}
small {
    font-size: smaller;
    color: #999;
}

p {
  margin-bottom: 20px;
}
li {
	list-style-type: none;
}

#HERO {
  position: relative;
  width: 100%;
  min-height: 500px;
  background: #FFF;
  text-transform: uppercase;
  overflow: hidden;
}

.vcard,
.car-1,
.car-2,
.car-3 {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-align: right;
  height: 100%;
}

.vcard figcaption,
.car-1 figcaption,
.car-2 figcaption,
.car-3 figcaption {
  position: relative;
  display: block;
  text-align: left;
  height: 50%;
  padding: 20px;
  float: left;
  width: 100%;
}
article {
  padding: 20px;
}

.car-1 {
  background: rgb(6, 80, 35);
  color: #FFF;
}
.car-1 figcaption {
  background-color: #00743d;
  color: #FFF;
}

.car-2 {
  background: rgb(128, 20, 13);
  color: #FFF;
}

.car-2 figcaption {
  background: #b41412;
  color: #FFF;
}

.car-3 {
  background: rgb(157, 157, 156);
  color: #FFF;
}

.car-3 figcaption {
  background: #CCC;
  color: #FFF;
}
.vcard img,
.car-1 img,
.car-2 img,
.car-3 img {
  position: relative;
  display: block;
  height: 50%;
  float: right;
}
 #HERO .chef {
   position: relative;
   margin-top: -65px;
 }
 #HERO small {
   color: #b41412;
 }
 #PARTNER {
   position: relative;
   background: #EEE;
 }
#PARTNER small {
  color: #00743d;
}
 #IMPRINT {
   position: relative;
   background: #DDD;
   padding-bottom: 80px;
 }
.hr {
  clear: both;
  position: relative;
  border: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

.column-1 {
	float: left;
	position: relative;
	display: inline-block;
	width: 50%;
	color: #666;
  padding: 0;
}
.column-xs-2,
.column-2 {
  float: left;
	position: relative;
	display: inline-block;
	width: 100%;
	color: #666;
  padding: 0;
}

.whitespace {
  display: none;
}
.scrollTo {
  clear: both;
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
  display: none;
}
.scrollTo a {
  position: relative;
  background: #FFF;
  color: #000;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50px;
  font-size: 30px;
  border: 1px solid #CCC;

}
@media (orientation: portrait) and (max-height: 768px) {
  .car-1,
  .car-2,
  .car-3 {
    height: 50%;
  }
}
@media only screen and (min-height:700px) {
  .column-1,
  .column-2,
  .vcard,
  .whitespace {
    height: 100%;
  }
  .scrollTo {
    display: block;
  }
}

#PARTNER .column-2.car-1 figcaption {
  padding-left: 50%;
}
@media only screen and (min-width: 480px) {
  .whitespace {
    display: none;
  }
  .column-1 {
    width: 33.3%;
  }
  .column-2 {
    width: 66.6%;
  }
}

@media only screen and (min-width: 768px) {
  .whitespace {
    display: none;
  }
  .column-1 {
    width: 25%;
  }
  .column-2 {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .whitespace {
    display: inline-block;
  }
  .column-1 {
    width: 20%;
  }
  .column-2 {
    width: 40%;
  }
}
