---
pagination:
  data: cloudinaryParts.folders
  size: 1
  alias: folder
  resolve: values
  tags: pages
permalink: "{{ folder.path | slugify }}/"
media: Ersatzteile
keywords:
  - Fahrzeug
---
<small><a href="/ersatzteile/">Ersatzteile</a></small>
<h1>{{ folder.name }}</h1>
