---
pagination:
  data: cloudinary.folders
  size: 1
  alias: folder
  resolve: values
  tags: pages
permalink: "{{ folder.path | slugify }}/"
layout: base-folder
tags: pages
keywords:
  - Fahrzeug
---
<small><a href="/fahrzeuge/">Fahrzeuge</a></small>
<h1>{{ folder.name }}</h1>
{# <button type="button" name="button" value="2" id="button">2</button> #}
<section>
  {%- for image in folder.images -%}
  {%- if image.folder == folder.path %}
  {% thumb image.secure_url, image.asset_id %}
  {%- endif -%}
  {%- endfor -%}
</section>
