---
title: Fahrzeuge
permalink: fahrzeuge/index.html
description: Unsere Fahrzeuge
layout: base-folder
keywords:
- Page
---
<small>Verkauf</small>
<h1>{{ title }}</h1>
<section>
  {% for folder in cloudinary.folders %}
  <a class="card" href="/{{ folder.path }}" title="{{ folder.name }}">
    {% for image in folder.images | limit(1) %}
    {% thumb image.secure_url, folder.name %}
    {# <img src="{{ item.url }}" alt="{{ folder.name }}"> #}
    {% endfor %}
    <span class="title">{{ folder.name }}</span>
  </a>
  {% endfor %}
</section>
