---
title: Willkommen
description: Willkommen
layout: base
keywords:
  - Home
---
<section class="address">
  <p class="chef">
    <small class="org">Kaufmann</small><br>
    <h1 class="fn">Andor Pirntke</h1><br>
  </p>
  <p>
    <a class="email" href="mailto:mail@andor-pirntke.de">mail@<br>andor-pirntke.de</a><br>
    <a class="tel" href="+49015110658761">0151-10 65 87 61</a>
  </p>
  <p class="adr">
    <span class="street-address">Lagerstrasse 1</span><br>
    <span class="postal-code">15345</span>
    <span class="locality">Rehfelde Dorf</span>
  </p>
</section>
<figure class="image">
  <figcaption>
    <span title="Hersteller">Mercedes Benz</span><br/>
    <span title="Typ">Vario</span><br/>
    <span title="Baujahr">1996–2013</span><br/>
  </figcaption>
  <img src="_assets/S-508-1974-H.svg" title="Löschgruppenfahrzeug"/>
</figure>
