---
title: Willkommen
description: Willkommen
layout: base
tags: pages
keywords:
  - Home
---
<figure id="Fahrzeug">
  <figcaption>
    <span title="Hersteller">Mercedes Benz</span><br/>
    <span title="Typ">Vario</span><br/>
    <span title="Baujahr">1996–2013</span><br/>
  </figcaption>
  <img src="_assets/S-508-1974-H.svg" title="Löschgruppenfahrzeug"/>
</figure>
