---
title: Willkommen
description: Willkommen
layout: base
tags: pages
keywords:
  - Home
---
{% for fig in teaser.figures %}
<figure id="Fahrzeug">
  <figcaption>
    <span title="Hersteller">{{ fig.manufacturer }}</span><br/>
    <span title="Typ">{{ fig.type }}</span><br/>
    <span title="Baujahr">{{ fig.year }}</span><br/>
  </figcaption>
  <img src="{{ fig.image }}" title="{{ fig.type }}"/>
</figure>
{% endfor %}
